:root {
	--clr-neutral-100: #fff;
	--clr-neutral-400: #474554;
	--clr-primary-200: #bac9e8;
	--clr-primary-300: #3c7dff;
	--clr-primary-400: #0044cc;
	--clr-primary-500: #0c1832;

	--ff-base: 'IBM Plex Serif', serif;
	--ff-accent: 'Poppins', sans-serif;

	--fs-normal: 1rem;
	--fs-large: 1.75rem;

	--fw-normal: 400;
	--fw-bold: 700;
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.1;
}
body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
	margin: 0;
}
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
}

picture,
svg,
video {
	max-width: 100%;
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

a {
	font: inherit;
	text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}

.flow-content > * + * {
	margin-top: var(--gap, 1rem);
}

body {
	font-family: var(--ff-base);
	font-size: var(--fs-normal);
	line-height: 1.65;
	padding: 4em;
	background-color: var(--clr-primary-200);
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 40rem;
	margin-inline: auto;
}

.cta {
	padding: 5rem;
	background-color: white; /* must changed */
	border-radius: 2.5rem;
	background-color: var(--bg);
	color: var(--fg);
}

.cta-title {
	font-family: var(--ff-accent);
	font-weight: var(--fw-bold);
	font-size: var(--fs-large);
}

.bg-light {
	--bg: var(--clr-neutral-100);
	--fg: var(--clr-primary-500);

	/* Primary Button */
	--btn-primary-bg: var(--clr-primary-400);
	--btn-primary-fg: var(--clr-neutral-100);
	--btn-primary-bg-hover: var(--clr-primary-300);
	--btn-primary-fg-hover: var(--clr-neutral-100);

	/* Secondary Button */
	--btn-secondary-bg: var(--clr-neutral-400);
	--btn-secondary-fg: var(--clr-neutral-100);
	--btn-secondary-bg-hover: var(--clr-primary-500);
	--btn-secondary-fg-hover: var(--clr-neutral-100);

	/* Outline Button */
	--btn-outline-border: var(--clr-primary-400);
	--btn-outline-fg: var(--clr-primary-400);
	--btn-outline-bg-hover: var(--clr-primary-400);
	--btn-outline-fg-hover: var(--clr-neutral-100);
}

.bg-dark {
	--bg: var(--clr-primary-500);
	--fg: var(--clr-neutral-100);

	/* Primary Button */
	--btn-primary-bg: var(--clr-primary-300);
	--btn-primary-fg: var(--clr-neutral-100);
	--btn-primary-bg-hover: var(--clr-primary-400);
	--btn-primary-fg-hover: var(--clr-neutral-100);

	/* Secondary Button */
	--btn-secondary-bg: var(--clr-neutral-100);
	--btn-secondary-fg: var(--clr-primary-300);
	--btn-secondary-bg-hover: var(--clr-neutral-400);
	--btn-secondary-fg-hover: var(--clr-neutral-100);

	/* Outline Button */
	--btn-outline-border: var(--clr-neutral-100);
	--btn-outline-fg: var(--clr-neutral-100);
	--btn-outline-bg-hover: var(--clr-neutral-100);
	--btn-outline-fg-hover: var(--clr-primary-500);
}

.bg-accent {
	--bg: var(--clr-primary-400);
	--fg: var(--clr-neutral-100);

	--btn-primary-fg: var(--clr-primary-400);
	--btn-primary-bg: var(--clr-neutral-100);
	--btn-primary-fg-hover: var(--clr-neutral-100);
	--btn-primary-bg-hover: var(--clr-primary-300);

	/* Secondary Button */
	--btn-secondary-bg: var(--clr-primary-500);
	--btn-secondary-fg: var(--clr-neutral-100);
	--btn-secondary-bg-hover: var(--clr-neutral-400);
	--btn-secondary-fg-hover: var(--clr-neutral-100);

	/* Outline Button */
	--btn-outline-border: var(--clr-neutral-100);
	--btn-outline-fg: var(--clr-neutral-100);
	--btn-outline-bg-hover: var(--clr-neutral-100); /* Added for consistency */
	--btn-outline-fg-hover: var(--clr-primary-400);
}

.btn {
	font-family: var(--ff-accent);
	text-transform: uppercase;
	color: inherit;

	display: inline-block;
	padding: 0.5rem 1.5rem;

	border-radius: 0.75rem;
	border: 2px solid transparent; /* Set a transparent border to prevent layout shift on hover for outline button */
	transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-primary {
	background-color: var(--btn-primary-bg);
	color: var(--btn-primary-fg);
}

.btn-primary:hover {
	background-color: var(--btn-primary-bg-hover);
	color: var(--btn-primary-fg-hover);
}

.btn-secondary {
	background-color: var(--btn-secondary-bg);
	color: var(--btn-secondary-fg);
}

.btn-secondary:hover {
	background-color: var(--btn-secondary-bg-hover);
	color: var(--btn-secondary-fg-hover);
}

.btn-outline {
	color: var(--btn-outline-fg);
	border-color: var(--btn-outline-fg);
	background-color: transparent;
}

.btn-outline:hover {
	color: var(--btn-outline-fg-hover);
	background-color: var(--btn-outline-bg-hover);
	border-color: var(
		--btn-outline-bg-hover
	); /* Match border to background on hover */
}

.btn:not(:first-child) {
	margin-left: 1rem;
}
